.edit-message-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-shown {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

.edit-modal-title{
    font-size: 18px;
    color: #6456b6;
    font-weight: 500;
    margin-bottom: 20px;
}

.edit-message-button{
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: white;
    background-color:#6456b6;
}

.edit-message-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.edit-message-close:hover,
.edit-message-close:focus {
    color:#6456b6;
    text-decoration: none;
    cursor: pointer;
}

.edit-message-input{
    width: 420px;
    padding: 10px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.input-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}