.users-caintainer{
    margin: 20px;
}

button{
    padding: 10px 20px;
    background-color: #eee;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #ccc;
}

.user-item{
    display: flex;
    width:400px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.user-info{
    padding: 10px;
    margin: 0;
}

.buttons-container{
    display: flex;
}