.message-list{
    background-color: #edf0f5;
    padding: 20px;
    height: calc(100vh - 280px);
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
}

.date-container{
    display: flex;
    flex-direction: column;
}

.messages-divider{
    align-self: center;
    color: #6456b6;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #d8d3f6;
    border-radius: 10px;
}