.login-container{
    margin: auto;
    margin-top: 300px;
    width: 300px;
    display: flex;
    justify-self:center;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-bottom: 10px;
}