.preloader {
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #6456b6;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: calc(50vh - 60px);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }