.message-input{
    padding: 20px;
    background-color: #edf0f5;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}
.message-input-text{
    width:670px;
    padding: 10px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.message-input-button{
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: white;
    background-color:#6456b6;
}